[Nest Config]
TIMESPAN_SINCE_CHANGE = 8
MIN_POKEMON_NEST_COUNT = 9
MIN_AVERAGE_POKEMON_NEST_COUNT = 1
MIN_SPAWNPOINT_NEST_COUNT = 2
DELETE_OLD_NESTS = True
EVENT_AUTOMATION = True
MANUAL_EVENT_POKEMON = []
POKESTOP_POKEMON = True
ANALYZE_MULTIPOLYGONS = False

[Area]
NAME = My_Area
SCAN_HOURS_PER_DAY = 24
POINT1_LAT = 0.360852
POINT1_LON = 0.925244
POINT2_LAT = 0.446112
POINT2_LON = 0.061136

[DB Read]
HOST = 0.0.0.0
NAME = rdm
USER = dbuser
PASSWORD = dbpass
PORT = 3306
CHARSET = utf8mb4
TABLE_POKEMON = pokemon
TABLE_POKEMON_SPAWNID = spawn_id
TABLE_POKEMON_TIMESTAMP = first_seen_timestamp
TABLE_POKESTOP = pokestop
TABLE_SPAWNPOINT = spawnpoint
TABLE_SPAWNPOINT_ID = id
TABLE_SPAWNPOINT_LAT = lat
TABLE_SPAWNPOINT_LON = lon
USE_UNIX_TIMESTAMP = False

[DB Write]
HOST = 0.0.0.0
NAME = rdm
USER = dbuser
PASSWORD = dbpass
PORT = 3306
CHARSET = utf8mb4
TABLE_NESTS = nests

[Geojson]
SAVE_PATH = nest.json
GEOJSON_EXTEND = False
DEFAULT_PARK_NAME = Unknown Parkname
STROKE = #352BFF
STROKE-WIDTH = 2
STROKE-OPACITY = 1
FILL =  #0651FF
FILL-OPACITY = 0.5

[Discord]
ENABLED = False
WEBHOOK = ["https://discordapp.com/api/webhooks/xxxxx/xxxxxx"]
USERNAME = Nest-Bot
LANGUAGE = en
MIN_SPAWNS_FOR_POST = 3
SORT_BY = pokemon_name
SORT_REVERSE = False
IGNORE_UNNAMED = True
TITLE = **This is the Nest report for {area_name}**
TEXT = **{park_name_g}**: {poke_name} {poke_shiny}({poke_type_emoji}) => {poke_avg} per hour
LOCALE_FILE = locale.json
MAP_LINK = https://my-map-domain.de/?lat={lon:.5f}&lon={lat:.5f}&zoom=16

[Other]
ENCODING = utf-8
VERBOSE = False
OSM_DATE = 2019-02-24T00:00:00Z
