[Nest Config]
TIMESPAN_SINCE_CHANGE = 24
MIN_POKEMON_NEST_COUNT = 10
MIN_SPAWNPOINT_NEST_COUNT = 2
DELETE_OLD_NESTS = True
EVENT_POKEMON = []
POKESTOP_POKEMON = True

[Area]
POINT1_LAT = 0.360852
POINT1_LON = 0.925244
POINT2_LAT = 0.446112
POINT2_LON = 0.061136

[DB Read]
HOST = 0.0.0.0
NAME = rdm
USER = dbuser
PASSWORD = dbpass
PORT = 3306
TABLE_POKEMON = pokemon
TABLE_POKEMON_TIMESTAMP = first_seen_timestamp
TABLE_POKESTOP = pokestop
TABLE_SPAWNPOINT = spawnpoint
TABLE_SPAWNPOINT_ID = id
TABLE_SPAWNPOINT_LAT = lat
TABLE_SPAWNPOINT_LON = lon

[DB Write]
HOST = 0.0.0.0
NAME = rdm
USER = dbuser
PASSWORD = dbpass
PORT = 3306
TABLE_NESTS = nests

[Geojson]
SAVE_PATH = nest.json
STROKE = #352BFF
STROKE-WIDTH = 2
STROKE-OPACITY = 1
FILL =  #0651FF
FILL-OPACITY = 0.5

[Other]
VERBOSE = False
